.card{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    color: black;
    padding: 2rem;
    /* f0f3f5 */
}
.question{
    font-weight: 500;
}
.option{
    width: 100%;
    height: 2.7rem;
    margin-bottom: 8px;
    border: 1px solid gray;
    border-radius: 2px;
    background-color: white;
    text-align: left;
    padding: 0.5rem;
    cursor: pointer;
}
.card-info{
    color: rgb(104, 104, 104);
    display: flex;
    justify-content: space-between;
    margin-bottom: -0.7rem;
    padding: 0 0.8rem;
    background-color: #f0f3f5;
    align-items: center;
}
.card-info .topic{
    font-weight: 600;
    font-size: 20px;
}
.progress{
    width: 100%;
    background: #2fd1be;  
    height: 9px;
}

@media (min-width:961px){
  .card{
    width: 90%;
  }
}
